<!DOCTYPE html>
<html>

    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="css/styles.css">
        <title>Raquel Pérez Neri</title>
        <link rel="icon" type="image/png" href="Images/favicon.png">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    </head>

    <body class="wrapper">
        <img class="logo" src="Images/Vértice Norte.png">
        <div class="header"> 
            <h1 class="h1" >Pruebas</h1>
            <a style="text-decoration: none; color: rgb(116, 61, 183);" href="Views/About-me.html">About...me |</a>
            <a style="text-decoration: none; color: rgb(116, 61, 183)"  href="Views/proyects.html">Proyectos |</a>
            <a style="text-decoration: none; color: rgb(116, 61, 183)"  href="#contacto">Contacto</a>
        </div>
        <span class="cf"></span>
        
        <div class="content">
            <div>
                <img class="banner" src="Images/SpecialistGIS.png">
            </div>

            <div class="box-one">
                <div>
                    <h2 class="h2" >Geográfa y Creativa Digital</h2>
                    <p>¡Hola! Soy Raquel, geógrafa de formación y especialista en sistemas de información geográfica (SIG), 
                        con experiencia en análisis territorial y gestión digital. Me apasiona conectar ideas, 
                        datos y estrategias que tengan impacto, combinando precisión técnica con una visión creativa. 
                        En este espacio encontrarás algunos de mis proyectos y ejercicios, resultado de lo que estoy aprendiendo y creando.</p>
                </div>
            </div>

        </div>         

          

        <div class="footer">
            <div class="footer-border">
                <h4 class="h4">Las ideas también se mueven en redes,<br>acompáñame!!</h4>
                <a href="https://github.com/LaReichel" target="_blank"><img class="media" src="Images/github_logo_icon_206752.png"></a>
                <a href="https://www.instagram.com/simplementelarachel" target="_blank"><img class="media" src="Images/Instagram_icon.png"></a>
                <a href="https://www.linkedin.com/in/raquel-p%C3%A9rez-neri-61112178" target="_blank"><img class="media" src="Images/hd-linkedin-blue-official-logo.png"></a>
                <a href="https://wa.me/5580136129" target="_blank"><img class="media" src="Images/pngtree-whatsapp-icon-png-image_3584844.png"></a>
            </div>
        </div> 


    </body>
</html>
